////////////////////////////////
///// Tool 2: config file //////
////////////////////////////////

////// MODIFY WITH CARE ////////


// PARAMETERS //

params {
	customSeq = "test"
	identity = "75"
	coverage = "0"
}

//minimum DNA %identity (default '75').
//minimum DNA %coverage (default '0').


// SOFTWARE VERSIONS //

process {
	withName:version {
		container = 'nanozoo/abricate:1.0.1--8960147'
    }
	withName:make_custom_DB {
		container = 'ncbi/blast:2.13.0'
    }
	withName:massScreening {
		container = 'nanozoo/abricate:1.0.1--8960147'
    }
	withName:massScreeningSummary {
		container = 'nanozoo/abricate:1.0.1--8960147'
    }
}


///////////////////////////////////////////
//// DO NOT CHANGE ANYTHING BELOW HERE ////
///////////////////////////////////////////

profiles {

  standard {

    singularity.enabled = true

  }

  docker {

    docker.enabled = true
    runOptions ='-u $(id -u):$(id -g)'

  }

  ghactions {

    singularity.enabled = true

    process {

      withName: massScreening {
          cpus = 2
      }

      withName: massScreeningSummary {
          cpus = 2
      }

    }

  }

}

params {
	help = false
}

//// THE END ////
