////////////////////////
// Tool_2 config file //
////////////////////////

process {
	withName:version {
		container = 'nanozoo/abricate:latest'
    }
	withName:make_custom_DB {
        	container = 'ncbi/blast:latest'
    }
	withName:massScreening {
		container = 'nanozoo/abricate:latest'
    }
	withName:massScreeningSummary {
		container = 'nanozoo/abricate:latest'
    }
}


profiles {

  standard {

    singularity.enabled = true

  }

  docker {

    docker.enabled = true
    runOptions ='-u $(id -u):$(id -g)'

  }

  ghactions {

    singularity.enabled = true

    process {

      withName: massScreening {
          cpus = 2
      }

      withName: massScreeningSummary {
          cpus = 2
      }

    }

  }

}


params {
	help = false
	customSeq = "test"
	identity = "75"
	coverage = "0"
}

//minimum DNA %identity (default '75').
//minimum DNA %coverage (default '0').


